@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Sen:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Sen", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  min-width: 1300px;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #232536;
}
nav .container .nav__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  align-items: center;
}
nav .container .nav__wrapper .nav__links {
  display: flex;
  align-items: center;
  gap: 24px;
}
nav .container .nav__wrapper .nav__links a {
  color: var(--Light, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
nav .container .nav__wrapper .nav__links a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
nav .container .nav__wrapper .nav__links a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
nav .container .nav__wrapper .nav__links button {
  color: var(--Black, #232536);
  font-family: Sen;
  font-size: 18px;
  font-style: normal;
  margin-left: 24px;
  font-weight: 700;
  line-height: 24px;
  background: var(--Light, #FFF);
  padding: 16px 48px;
}

.mission {
  margin-top: 50px;
  background: var(--Lavender, #F4F0F8);
}
.mission .container .mission__wrapper {
  display: flex;
  padding: 83px 108px;
  justify-content: space-between;
}
.mission .container .mission__wrapper .mission__text h3 {
  color: var(--Black, #232536);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.mission .container .mission__wrapper .mission__text h2 {
  color: var(--Black, #232536);
  font-family: Sen;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
  max-width: 481px;
  margin-top: 24px;
}
.mission .container .mission__wrapper .mission__text p {
  max-width: 516px;
  color: var(--Medium-grey, #6D6E76);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
}

.creative {
  margin-top: 122px;
}
.creative .container .creative__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.creative .container .creative__wrapper .creative__content h2 {
  color: #232536;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  max-width: 519px;
}
.creative .container .creative__wrapper .creative__content h3 {
  color: var(--Black, #232536);
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-top: 16px;
}
.creative .container .creative__wrapper .creative__content p {
  color: var(--Black, #232536);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
  max-width: 519px;
}

.reason {
  margin-top: 128px;
}
.reason .container .reason__wrapper {
  display: flex;
  align-items: center;
  gap: 64px;
}
.reason .container .reason__wrapper .reason__content h2 {
  color: #232536;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  max-width: 519px;
}
.reason .container .reason__wrapper .reason__content h3 {
  color: var(--Black, #232536);
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-top: 16px;
  max-width: 519px;
}
.reason .container .reason__wrapper .reason__content p {
  color: var(--Black, #232536);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
}

footer {
  background: var(--Black, #232536);
  margin-top: 158px;
}
footer .container .footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 82px 0;
}
footer .container .footer__wrapper .footer__links p {
  color: var(--Light, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
footer .container .footer__wrapper .social__medias {
  display: flex;
  gap: 26px;
}/*# sourceMappingURL=about.css.map */