@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Sen:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Sen", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  min-width: 1300px;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

nav {
  background: #232536;
}
nav .container .nav__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  align-items: center;
}
nav .container .nav__wrapper .nav__links {
  display: flex;
  align-items: center;
  gap: 24px;
}
nav .container .nav__wrapper .nav__links a {
  color: var(--Light, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
nav .container .nav__wrapper .nav__links button {
  color: var(--Black, #232536);
  font-family: Sen;
  font-size: 18px;
  font-style: normal;
  margin-left: 24px;
  font-weight: 700;
  line-height: 24px;
  background: var(--Light, #FFF);
  padding: 16px 48px;
}

.register .container .register__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.register .container .register__wrapper h1 {
  color: #232536;
  text-align: center;
  font-family: Sen;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  margin-top: 69px;
}
.register .container .register__wrapper .inputs {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: center;
  margin-top: 68px;
}
.register .container .register__wrapper .inputs input {
  width: 768px;
  border-radius: 2px;
  padding: 24px;
  border: 1px solid rgba(109, 110, 118, 0.5);
}
.register .container .register__wrapper .inputs input::-moz-placeholder {
  padding: 24px;
  color: var(--Black, #232536);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.register .container .register__wrapper .inputs input::placeholder {
  padding: 24px;
  color: var(--Black, #232536);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.register .container .register__wrapper .inputs button {
  color: var(--Black, #232536);
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  background: var(--Yellow, #FFD050);
  width: 768px;
  padding: 24px;
  display: grid;
  margin-top: 50px;
  place-items: center;
}
.register .container .register__wrapper .inputs button:hover {
  transition: 0.3s;
  box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6);
}

footer {
  background: var(--Black, #232536);
  margin-top: 158px;
}
footer .container .footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 82px 0;
}
footer .container .footer__wrapper .footer__links p {
  color: var(--Light, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
footer .container .footer__wrapper .social__medias {
  display: flex;
  gap: 26px;
}/*# sourceMappingURL=login.css.map */